.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img {
  border-radius: 10px;
  max-height: 800px;
}

.hero-video {
  width: 960px;
  height: 540px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.title {
  font-weight: 300;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 2rem 0;
}

.explanation {
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.6;
}
